<footer>
  <button class="not-for-print" onclick="printResume()">打印</button>
  <div class="not-for-screen">
    <div class="QR-container">
      <img class="resume-QR" src="../public/images//resume.png" alt="简历" />
      <div>
        <p>您可以扫码</p>
        <p>查看网页版简历</p>
      </div>
    </div>
  </div>
  <button>
    <p>最后更新于 2024 年 02 月 19 日</p>
    <p>感谢您在百忙之中拨冗阅读</p>
  </button>
</footer>
