/*CSS reset*/

html {
  color: #000;
  background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del,
ins {
  text-decoration: none;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  font-size: 100%;
}

/*文字排版*/

.f12 {
  font-size: 0.16rem;
}

.f13 {
  font-size: 0.17333333rem;
}

.f14 {
  font-size: 0.18666667rem;
}

.f16 {
  font-size: 0.21333333rem;
}

.f20 {
  font-size: 0.26666667rem;
}

.fb {
  font-weight: bold;
}

.fn {
  font-weight: normal;
}

.t2 {
  text-indent: 2em;
}

.lh150 {
  line-height: 150%;
}

.lh180 {
  line-height: 180%;
}

.lh200 {
  line-height: 200%;
}

.unl {
  -webkit-text-decoration: underlline;
          text-decoration: underlline;
}

.no_unl {
  text-decoration: none;
}

/*定位*/

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.bc {
  margin-left: auto;
  margin-right: auto;
}

/*块级元素水平居中（前提是块级元素有设置宽度）*/

.fl {
  float: left;
  display: inline;
}

/*消除ie6浮动产生的双边距*/

.fr {
  float: right;
  display: inline;
}

/*消除ie6浮动产生的双边距*/

.cb {
  clear: both;
}

/*清除浮动*/

.cl {
  clear: left;
}

/*清除左浮动*/

.cr {
  clear: right;
}

/*清除右浮动*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.vm {
  vertical-align: middle;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.abs-right {
  position: absolute;
  right: 0;
}

.zoom {
  zoom: 1;
}

/*触发IE浏览器的haslayout。解决ie下的浮动，margin重叠等一些问题*/

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

/*下列这些类的设置和使用可以减少我们页面样式的代码量*/

/*长度高度*/

.w10 {
  width: 0.13333333rem;
}

.w20 {
  width: 0.26666667rem;
}

.w30 {
  width: 0.4rem;
}

.w40 {
  width: 0.53333333rem;
}

.w50 {
  width: 0.66666667rem;
}

.w60 {
  width: 0.8rem;
}

.w70 {
  width: 0.93333333rem;
}

.w80 {
  width: 1.06666667rem;
}

.w90 {
  width: 1.2rem;
}

.w100 {
  width: 1.33333333rem;
}

.w200 {
  width: 2.66666667rem;
}

.w300 {
  width: 4rem;
}

.w400 {
  width: 5.33333333rem;
}

.w500 {
  width: 6.66666667rem;
}

.w600 {
  width: 8rem;
}

.w700 {
  width: 9.33333333rem;
}

.w800 {
  width: 10.66666667rem;
}

.w {
  width: 100%;
}

.h50 {
  width: 0.66666667rem;
}

.h80 {
  width: 1.06666667rem;
}

.h100 {
  width: 1.33333333rem;
}

.h200 {
  width: 2.66666667rem;
}

.h {
  height: 100%;
}

/*边距*/

.m10 {
  margin: 0.13333333rem;
}

.m15 {
  margin: 0.2rem;
}

.m30 {
  margin: 0.4rem;
}

.mt5 {
  margin-top: 0.06666667rem;
}

.mt10 {
  margin-top: 0.13333333rem;
}

.mt15 {
  margin-top: 0.2rem;
}

.mt20 {
  margin-top: 0.26666667rem;
}

.mt30 {
  margin-top: 0.4rem;
}

.mt50 {
  margin-top: 0.66666667rem;
}

.mt100 {
  margin-top: 1.33333333rem;
}

.mb5 {
  margin-bottom: 0.06666667rem;
}

.mb10 {
  margin-bottom: 0.13333333rem;
}

.mb15 {
  margin-bottom: 0.2rem;
}

.mb20 {
  margin-bottom: 0.26666667rem;
}

.mb30 {
  margin-bottom: 0.4rem;
}

.mb50 {
  margin-bottom: 0.66666667rem;
}

.mb100 {
  margin-bottom: 1.33333333rem;
}

.ml5 {
  margin-left: 0.06666667rem;
}

.ml10 {
  margin-left: 0.13333333rem;
}

.ml15 {
  margin-left: 0.2rem;
}

.ml20 {
  margin-left: 0.26666667rem;
}

.ml30 {
  margin-left: 0.4rem;
}

.ml50 {
  margin-left: 0.66666667rem;
}

.ml100 {
  margin-left: 1.33333333rem;
}

.mr5 {
  margin-right: 0.06666667rem;
}

.mr10 {
  margin-right: 0.13333333rem;
}

.mr15 {
  margin-right: 0.2rem;
}

.mr20 {
  margin-right: 0.26666667rem;
}

.mr30 {
  margin-right: 0.4rem;
}

.mr50 {
  margin-right: 0.66666667rem;
}

.mr100 {
  margin-right: 1.33333333rem;
}

.p10 {
  padding: 0.13333333rem;
}

.p15 {
  padding: 0.2rem;
}

.p30 {
  padding: 0.4rem;
}

.pt5 {
  padding-top: 0.06666667rem;
}

.pt10 {
  padding-top: 0.13333333rem;
}

.pt15 {
  padding-top: 0.2rem;
}

.pt20 {
  padding-top: 0.26666667rem;
}

.pt30 {
  padding-top: 0.4rem;
}

.pt50 {
  padding-top: 0.66666667rem;
}

.pt100 {
  padding-top: 1.33333333rem;
}

.pb5 {
  padding-bottom: 0.06666667rem;
}

.pb10 {
  padding-bottom: 0.13333333rem;
}

.pb15 {
  padding-bottom: 0.2rem;
}

.pb20 {
  padding-bottom: 0.26666667rem;
}

.pb30 {
  padding-bottom: 0.4rem;
}

.pb50 {
  padding-bottom: 0.66666667rem;
}

.pb100 {
  padding-bottom: 1.33333333rem;
}

.pl5 {
  padding-left: 0.06666667rem;
}

.pl10 {
  padding-left: 0.13333333rem;
}

.pl15 {
  padding-left: 0.2rem;
}

.pl20 {
  padding-left: 0.26666667rem;
}

.pl30 {
  padding-left: 0.4rem;
}

.pl50 {
  padding-left: 0.66666667rem;
}

.pl100 {
  padding-left: 1.33333333rem;
}

.pr5 {
  padding-right: 0.06666667rem;
}

.pr10 {
  padding-right: 0.13333333rem;
}

.pr15 {
  padding-right: 0.2rem;
}

.pr20 {
  padding-right: 0.26666667rem;
}

.pr30 {
  padding-right: 0.4rem;
}

.pr50 {
  padding-right: 0.66666667rem;
}

.pr100 {
  padding-right: 1.33333333rem;
}