.resume-header {
  border-bottom: solid 1px #999;
  box-sizing: border-box;
  .resume-header__name {
    font-size: 40px;
    color: #333;
    line-height: 1;
  }
  .resume-header__desc {
    font-size: 20px;
    color: #999;
    span {
      color: #333;
    }
  }
}
.work-container {
  position: relative;
  border-left: solid 2px #999;
  box-sizing: border-box;
  padding: 2px 0 10px 10px;
  margin-left: 5px;
}
.work-item {
  .work-item__title {
    font-size: 24px;
    color: #333;
  }
  .work-item__desc {
    font-size: 18px;
    color: #999;
  }
  img {
    width: 60px;
    height: 60px;
  }
}
.work-item__date {
  position: relative;
  top: -10px;
  left: -16px;
  font-size: 10px;
  color: #999999;
  margin-top: 10px;
  .work-item__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: dodgerblue;
  }
}
.project-item {
  + .project-item {
    margin-top: 20px;
  }
  .project-item__title {
    font-size: 24px;
    color: #333;
  }
  .project-item__desc {
    font-size: 18px;
    color: #999;
  }
  img {
    width: auto;
    height: auto;
  }
}
.resume-item__text {
  font-size: 18px;
  color: #666;
}
.list-style > li {
  list-style: disc inside;
  line-height: 1.3;
  + li {
    margin-top: 5px;
  }
}
.resume-footer {
  border-top: solid 1px #999999;
  box-sizing: border-box;
  .resume-footer__desc {
    font-size: 14px;
    color: #999;
  }
  img {
    width: 10%;
    height: 10%;
  }
}
.tech-item__label {
  background-color: aquamarine;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2px;
  font-size: 12px;
  + .tech-item__label {
    margin-left: 20px;
  }
}
.resume__link {
  font-size: 20px;
  text-decoration: none;
  color: dodgerblue;
  + .resume__link {
    margin-left: 20px;
  }
}
.resume__button {
  background-color: steelblue;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
.split-line {
  border-left: dashed 1px #999999;
}
.edu-item {
  img {
    width: 200px;
    height: 200px;
  }
}
.project-item-left {
  img {
    width: 100px;
    height: 100px;
  }
}
@media screen {
  @media (max-width: 639px) {
    .not-for-mb {
      display: none;
    }
    .edu-item {
      + .edu-item {
        border-top: dashed 1px #999999;
      }
    }
    .resume-header-item {
      + .resume-header-item {
        margin-top: 20px;
      }
    }
    .user-head-icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .project-item__img {
      margin-top: 20px;
      margin-left: 20px;
    }
    img {
      max-height: 400px;
    }
  }
  @media (min-width: 639px) {
    .project-item__img {
      margin-left: 50px;
      img {
        max-height: 500px;
      }
    }
    .not-for-pc {
      display: none;
    }
  }
  .resume-header, .resume-footer {
    padding: 20px 30px;
  }
  .resume-item {
    padding: 20px;
    &:nth-child(even) {
      background-color: #f4f4f4;
    }
  }
  @mixin comb—light($hue,$sat:100%) {
    background-color: hsl($hue, $sat, 90%);
    color: hsl($hue, $sat, 50%);
    border-left: solid 4px hsl($hue, $sat, 45%);
  }
  .tech-item {
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
    @include comb—light(30);
    + .tech-item {
      margin-top: 10px;
    }
  }
  .resume-item__title {
    font-size: 30px;
  }
  .resume-item__desc {
    font-size: 20px;
    color: #999;
  }
  .project-item {
    + .project-item {
      border-top: 1px dashed #999;
      box-sizing: border-box;
      padding-top: 50px;
    }
  }
  .work-container, .project-container {
    margin-top: 50px
  }
}
@media print {
  @page {
    size: A4 portrait;
    margin: 2.1cm 1.9cm;
  }
  .resume-header__name, .resume-header__position {
    text-align-last: justify;
    text-align: justify;
    text-justify: distribute-all-lines; // 这行必加，兼容ie浏览器
  }
  .resume-header__name {
    width: 150px;
  }
  .resume-header__position {
    width: 200px;
  }
  .resume-item {
    padding: 15px 0;
  }
  .resume-item__title {
    font-size: 30px;
    color: #333;
  }
  .resume-item__desc {
    font-size: 20px;
    color: #333;
  }
  .not-for-print {
    display: none;
  }
  .project-item {
    + .project-item {
      border-top: 1px dashed #999;
      box-sizing: border-box;
      padding-top: 10px;
    }
  }
  .resume-header, .resume-footer {
    padding: 20px 10px;
  }
  .resume__content {
    padding: 0 10px;
  }
  .work-container, .project-container {
    margin-top: 10px
  }
  .user-head-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
