<div class="resume__footer-desc flex-row flex-items-center">
    <img src="<%= footer.QRCode %>" alt="二维码">
    <span class="ml20">您还可以扫码<br/><%= footer.scanDesc %></span>
</div>
<div class="resume__footer-desc flex-column flex-content-center flex-items-end">
    <div><%= footer.updatedDesc %></div>
    <div>感谢您的阅读，相信这是难得的相遇</div>
</div>
