<div class="resume-footer__desc flex-row flex-items-center">
    <img src="<%= footer.QRCode %>" alt="二维码">
    <span class="ml20">您可以使用「微信」扫描二维码<br/>
        <span class="not-for-print not-for-mb"><%= footer.scanDescForPC %></span>
        <span class="not-for-pc not-for-mb"><%= footer.scanDescForPrint %></span>
    </span>
</div>
<div class="resume-footer__desc flex-column flex-content-center flex-items-end">
    <div><%= footer.updatedDesc %></div>
    <div>感谢您的阅读，相信这是难得的相遇</div>
</div>
