<div class="resume__footer-desc flex-row flex-items-center">
    <img src="<%= require("./imgs/QR-code.png") %>" alt="二维码">
    <span class="ml20">您还可以扫码<br/>查看完整版简历</span>
</div>
<div class="resume__footer-desc flex-column flex-content-center flex-items-end">
    <div>最后更新于2018年9月23日</div>
    <div>感谢您的阅读，相信这是难得的相遇</div>
</div>
