<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="root">
    <div style="margin-top: 250px">
        <% var users = [{name: 'songxingguo'}, {name: '宋兴国'}] %>
        <% if(users) { %>
            <% users.forEach(function (user) { %>
                <h2><%= user.name %></h2>
            <% }) %>
        <% } %>
    </div>
</div>
</body>
</html>
