<% if(cName === 'XINYUE') { %>
    <h3 class="mt10 mb5 fb">项目简介：</h3>
    <h3 class="mt10 mb5 fb">项目职责：</h3>
    <ul class="t2">
        <li>负责视频播放组件封装。</li>
    </ul>
    <h3 class="mt10 mb5 fb">项目成果:</h3>
<% } %>
<% if(cName === 'JLDD') { %>
    <h3 class="mt10 mb5 fb">项目简介：</h3>
    <div class="t2">参与了「锦鲤多多」和「锦鲤内购」两个小程序项目以及后台管理系统的开发,其中「锦鲤多多」为活动小程序项目，「锦鲤内购」为 O2O 电商项目。
    </div>
    <div class="t2">小程序项目使用「vue-on-wechat」框架，使得小程序拥有「Vue.js」一样的开发体验，支持：</div>
    <ul class="t2">
        <li>
            计算属性 computed 、监听属性 watch、Vuex 状态管理以及变量直接赋值。
        </li>
        <li>使用装饰器（Decorator）实现防抖（debounce）、节流 （throttle）、串行（series）。</li>
    </ul>
    <h3 class="t2">后台管理项目采用「Ant Design of Vue」作为 UI 框架。</h3>
    <h3 class="mt10 mb5 fb">项目职责：</h3>
    <ul class="t2">
        <li>使用微信小程序相关技术栈还原设计理念。</li>
        <li>负责项目中 UI 组件的封装以及 CSS3 动画效果的实现。</li>
    </ul>
    <h3 class="mt10 mb5 fb">项目成果:</h3>
    <ul class="t2">
        <li>通过对弹窗组件和动画的封装，让代码量减少 20%，并且为团队开发节省 15% 的开发时间。</li>
        <li>通过对「栅格布局」和 「Flex 布局」等布局代码的封装，让团队开发效率提升 10%。</li>
        <li>运用 Promise 异步等待特性对弹窗的弹出进行管理，让弹窗弹出变得井然有序。</li>
    </ul>
<% } %>
<% if(cName === 'XNY') { %>
    <div class="mt10 mb5 fb">项目简介：</div>
    <div class="t2">
        该平台是用于新能源汽车的在线监管、追踪定位、故障处理以及交易合同管理，致力于为销售或购买新能源汽车的用户的提供一个实时监控的综合性管理平台。
    </div>
    <h3 class="mt10 mb5 fb">项目职责：</h3>
    <ul class="t2">
        <li>作为项目组长参与了“新能源物流车综合运营平台”项目的设计、开发与测试。</li>
        <li>负责设计后台管理系统高保真原型。</li>
        <li>负责第三方支付的接入。</li>
        <li>负责故障流程、派车流程、合同管理等核心模块的开发以及重构。</li>
    </ul>
    <h3 class="mt10 mb5 fb">项目成果：</h3>
    <ul class="t2">
        <li>曾参加了院级、校级创业创新大赛，并分别荣获比赛的一等奖和三等奖。</li>
        <li>截止到2018年2月， 在重庆地区有1000多辆新能源汽车使用该平台进行管理，数量仍在持续增加中。</li>
    </ul>
<% } %>
<% if(cName === 'CQUT') { %>
    <div>知晓理工提供校园新闻；校园通知；校内导航。</div>
    <ul>
        <li>使用「cheerio.js」实现对校园通知、新闻的抓取。</li>
        <li>使用小程序云开发作为服务器，并在后端管理「dev-net」中采用「Ant Design of Vue」，实现对导航地点进行管理。</li>
    </ul>
<% } %>
<% if(cName === 'ALBUM') { %>
    <div>采用「cloudflare」作为 ServerLess 服务器调用「七牛云」接口读取图片数据，然后对图片 EXIF 信息进行处理后显示在页面中。</div>
<% } %>
<% if(cName === 'STAGE') { %>
    <div>一个致力于链接各个平台的中台系统。该系统分为后端管理项目 「dev-net」和 服务端项目 「net-cloud」。</div>
<% } %>
<% if(cName === 'RESUME') { %>
    <h3 class="mb10 fb">项目简介：</h3>
    <div class="t2">
        一份兼容PC、手机和平板设备，还可以通过浏览器直接打印的网页版简历。
    </div>
    <ul class="t2 mt5">
        <li>使用「EJS」和「SCSS」分别编写网页结构和页面样式，以此简化项目代码。</li>
        <li>使用媒体查询兼容不同设备。</li>
        <li>使用「Webpack」实现热更新，并对项目进行编译和压缩。</li>
        <li>使用「TravisCI」实现对代码的自动化构建与部署。</li>
    </ul>
    <h3 class="mt10 mb5 fb">项目成果：</h3>
    <ul class="t2">
        <li>无须下载，直接打开；「Write once, run anywhere」。</li>
        <li>内容展示形式更丰富，排版更灵活；多版本同时灵活切换，方便修改。</li>
        <li>可以通过超链接访问外部资源（如个人作品）；可以登上搜索引擎的榜单（SEO）。</li>
    </ul>
<% } %>
<% if(cName === 'STORE') { %>
    <div>
        大学校园生活共享平台一款用于校园内部物品共享的平台。
    </div>
    <div>该平台由「理工小铺」小程序和后台管理系统「dev-net」两个子系统组成。</div>
    <div>
        其中小程序端具有物品查看、物品发布、物品收藏等功能,并使用小程序云服务作为服务器。
    </div>
    <div>
        其中后台管理系统支持物品分类管理、物品审核、实名审核等功能。
    </div>
<% } %>
<% if(cName === 'AI') { %>
    <div>
        该小程序集成了 AI 词汇识别、AI 语音听写、AI 语音播报等功能，可用于单词听写、运动视频录制。
    </div>
<% } %>
<% if(cName === 'WEUI') { %>
    <div>
        一个用于展示常用 UI 效果的小程序，方便开发者可以快速取用想要的 UI 实现。累计访问用户 3k+。
    </div>
<% } %>
<% if(cName === 'DAYUE') { %>
    <div class="fb">负责对公司对外产品前端开发工作（移动端、PC）：</div>
    <ol class="t2 mt10">
        <li>使用微信小程序相关技术栈还原设计理念。</li>
        <li>负责项目中 UI 组件的封装以及 CSS3 动画效果的实现。</li>
        <li>负责前端核心库的代码封装，为团队开发节省 15% 的开发时间。</li>
    </ol>
<% } %>
<% if(cName === 'JINYUE') { %>
    <div class="fb">负责对公司对外产品前端开发工作（PC）：</div>
    <ol class="t2 mt10">
        <li>负责视频组件的封装以及 Web 页面的开发。</li>
    </ol>
<% } %>
<% if(cName === 'B305') { %>
    <div class="fb">负责新能源汽车项目管理后台的开发和团队的管理：</div>
    <ol class="t2 mt10">
        <li>负责与业务人员沟通产品需求。</li>
        <li>负责项目基础设施的集成以及前后端核心功能的开发。</li>
        <li>负责制定开发计划并分配项目开发任务。</li>
    </ol>
<% } %>
<% if(cName === 'PRIZE') { %>
    <h3 class="mb10 fb">奖项证书：</h3>
    <ul class="t2">
        <li>曾获得过三次校级综合奖学金。</li>
        <li>拥有 Oracle Java标准版6程序员注册专业人员证书。</li>
        <li>拥有计算机技术与软件专业技术程序员资格证书。</li>
    </ul>
<% } %>
