<% if(cName === 'JLDD') { %>
    <div>参与了「锦鲤多多」和「锦鲤内购」两个小程序项目以及后台管理系统的开发,其中「锦鲤多多」为活动小程序项目，「锦鲤内购」为 O2O 电商项目。
    </div>
    <div>小程序项目使用「vue-on-wechat」框架，使得小程序拥有「Vue.js」一样的开发体验，支持：</div>
    <ul>
        <li>
            计算属性 computed 、监听属性 watch、Vuex 状态管理以及变量直接赋值。
        </li>
        <li>使用装饰器（Decorator）实现防抖（debounce）、节流 （throttle）、串行（series）。</li>
        <li>基于 Gulp 实现的命令行工具「dev-box」对项目进行自动化发布。</li>
    </ul>
    <div>后台管理项目采用「Ant Design of Vue」作为 UI 框架。</div>
<% } %>
<% if(cName === 'XNY') { %>
    <div>
        该平台是用于新能源汽车的在线监管、追踪定位、故障处理以及交易合同管理，致力于为销售或购买新能源汽车的用户的提供一个实时监控的综合性管理平台。
    </div>
    <ul class="mt10">
        <li>负责故障流程、派车流程、合同管理等核心模块的设计（高保真原型）、开发以及重构。</li>
        <li>负责第三方支付的接入。</li>
    </ul>
<% } %>
<% if(cName === 'CQUT') { %>
    <div>知晓理工提供校园新闻；校园通知；校内导航。</div>
    <ul>
        <li>使用「cheerio.js」实现对校园通知、新闻的抓取。</li>
        <li>使用小程序云开发作为服务器，并在后端管理「dev-net」中采用「Ant Design of Vue」，实现对导航地点进行管理。</li>
    </ul>
<% } %>
<% if(cName === 'ALBUM') { %>
    <div>采用「cloudflare」作为 ServerLess 服务器调用「七牛云」接口读取图片数据，然后对图片 EXIF 信息进行处理后显示在页面中。</div>
<% } %>
<% if(cName === 'STAGE') { %>
    <div>一个致力于链接各个平台的中台系统。该系统分为后端管理项目 「dev-net」和 服务端项目 「net-cloud」。</div>
<% } %>
<% if(cName === 'RESUME') { %>
    <div>
        一份兼容PC、手机和平板设备，还可以通过浏览器直接打印的网页版简历。
    </div>
    <ul>
        <li>使用「EJS」和「SCSS」分别编写网页结构和页面样式，以此简化项目代码。</li>
        <li>使用媒体查询兼容不同设备。</li>
        <li>使用「Webpack」实现热更新，并对项目进行编译和压缩；使用「TravisCI」实现对代码的自动化构建与部署。</li>
    </ul>
<% } %>
<% if(cName === 'STORE') { %>
    <div>
        大学校园生活共享平台一款用于校园内部物品共享的平台。
    </div>
    <div>该平台由「理工小铺」小程序和后台管理系统「dev-net」两个子系统组成。</div>
    <div>
        其中小程序端具有物品查看、物品发布、物品收藏等功能,并使用小程序云服务作为服务器。
    </div>
    <div>
        其中后台管理系统支持物品分类管理、物品审核、实名审核等功能。
    </div>
<% } %>
<% if(cName === 'AI') { %>
    <div>
        该小程序集成了 AI 词汇识别、AI 语音听写、AI 语音播报等功能，可用于单词听写、运动视频录制。
    </div>
<% } %>
<% if(cName === 'WEUI') { %>
    <div>
        一个用于展示常用 UI 效果的小程序，方便开发者可以快速取用想要的 UI 实现。累计访问用户 3k+。
    </div>
<% } %>
<% if(cName === 'DAYUE') { %>
    <ol>
        <li>负责项目中 UI 组件的封装以及 CSS3 动画效果的实现。</li>
        <li>使用微信小程序相关技术栈还原设计理念。</li>
        <li>使用 Promise 异步等待特性，实现弹窗的依次弹出。</li>
        <li>使用 JavaScript 脚本生成「栅格布局」布局代码。</li>
    </ol>
<% } %>
<% if(cName === 'B305') { %>
    <ol>
        <li>负责与业务人员沟通产品需求。</li>
        <li>负责设计后台管理系统高保真原型。</li>
        <li>负责制定开发计划并分配项目开发任务。</li>
        <li>负责项目基础设施的集成以及前后端核心功能的开发。</li>
    </ol>
<% } %>
