<% if(cName === 'JLDD') { %>
    参与了「锦鲤多多」和「锦鲤内购小程序」两个小程序和后台管理系统的开发。
    <ul class="list-style">
        <li>
            并且项目采用命令行工具「dev-box」对项目进行编译以及自动化发布。
        </li>
    </ul>
<% } %>
<% if(cName === 'CQUT') { %>
    参与了「锦鲤多多」和「锦鲤内购小程序」两个小程序和后台管理系统的开发。
    <ul class="list-style">
        <li>
            并且项目采用命令行工具「dev-box」对项目进行编译以及自动化发布。
        </li>
    </ul>
<% } %>
<% if(cName === 'ALBUM') { %>
    参与了「锦鲤多多」和「锦鲤内购小程序」两个小程序和后台管理系统的开发。
    <ul class="list-style">
        <li>
            并且项目采用命令行工具「dev-box」对项目进行编译以及自动化发布。
        </li>
    </ul>
<% } %>
