<% if(cName === 'JLDD') { %>
    <div>参与了「锦鲤多多」和「锦鲤内购」两个小程序和后台管理系统的开发。其中小程序使用「vue-on-wechat」框架，使得微信小程序能拥有 「Vue.js」 一样的开发体验，支持：</div>
    <ul>
        <li>computed 和 watch 进行数据动态计算。</li>
        <li>Vuex 进行状态管理。</li>
        <li>装饰器（Decorator）实现的防抖动（debounce）、节流阀（throttle）、串行（series）。</li>
        <li>变量直接赋值。</li>
    </ul>
    <div>并使用命令行工具「dev-box」对项目进行自动化发布。其中后台管理采用 「Ant Design of Vue」 作为 UI 框架。</div>
<% } %>
<% if(cName === 'CQUT') { %>
    <div>知晓理工提供校园新闻；校园通知；校内导航。</div>
    <ul>
        <li>使用「cheerio.js」实现对校园通知、新闻的抓取。</li>
        <li>使用小程序云开发作为服务器，并在后端管理「dev-net」中采用「Ant Design of Vue」，对导航地点进行管理。</li>
    </ul>
<% } %>
<% if(cName === 'ALBUM') { %>
    <div>采用「cloudflare」作为 ServerLess 服务器调用「七牛云」接口读取图片数据，然后对图片 EXIF 信息进行处理后显示在页面中。</div>
<% } %>
<% if(cName === 'STAGE') { %>
    <div>一个致力于链接各个平台的中台系统。该系统分为后端管理项目 「dev-net」和 服务端项目 「net-cloud」。</div>
<% } %>
<% if(cName === 'RESUME') { %>
    <div>
        一份兼容PC、手机和平板设备，还可以通过浏览器直接打印的网页版简历。
    </div>
    <ul>
        <li>使用「EJS」和「SCSS」分别编写网页结构和页面样式，以此简化项目代码。</li>
        <li>使用媒体查询兼容不同设备。</li>
        <li>使用「Webpack」实现热更新，并对项目进行编译和压缩。</li>
        <li>使用「TravisCI」实现对代码的自动化构建与部署。</li>
    </ul>
<% } %>
<% if(cName === 'DAYUE') { %>
    <ol>
        <li>负责项目中弹窗组件的封装以及动画效果的实现。</li>
        <li>使用微信小程序相关技术栈还原设计理念。</li>
        <li>使用 Promise 异步等待特性，实现弹窗的依次弹出;使用 JavaScript 脚本生成「栅格布局」布局代码。</li>
    </ol>
<% } %>
<% if(cName === 'B305') { %>
    <ol>
        <li>负责与业务人员沟通产品需求并设计后台管理系统高保真原型。</li>
        <li>负责制定开发计划并分配项目开发任务。</li>
        <li>负责项目基础设施的集成以及前后端核心功能的开发。</li>
    </ol>
<% } %>
