<% if(cName === 'JLDD') { %>
    <div>参与了「锦鲤多多」和「锦鲤内购小程序」两个小程序和后台管理系统的开发。</div>
    <div>其中小程序使用「vue-on-wechat」框架，使得微信小程序能拥有 「Vue.js」 一样的开发体验，支持：</div>
    <ul class="list-style">
        <li>computed 和 watch 进行数据动态计算。</li>
        <li>Vuex 进行状态管理。</li>
        <li>变量直接赋值。</li>
    </ul>
    <div>并且采用命令行工具「dev-box」对项目进行自动化发布。</div>
    <div>其中后台管理采用 「Ant Design of Vue」 作为 UI 框架。</div>
<% } %>
<% if(cName === 'CQUT') { %>
    <div>知晓理工提供校园新闻；校园通知；校内导航。</div>
    <div>采用「cheerio.js」实现对网页的对抓取。</div>
<% } %>
<% if(cName === 'ALBUM') { %>
    <div>采用「cloudflare」作为 ServerLess 服务器调用「七牛云」接口读取图片数据，然后对图片 EXIF 信息进行处理。</div>
<% } %>
<% if(cName === 'STAGE') { %>
    <div>一个致力于链接各个平台的中台系统。</div>
    <div>该系统分为后端管理项目 「dev-net」和 服务端项目 「net-cloud」。</div>
<% } %>
<% if(cName === 'DAYUE') { %>
    <div>一个致力于链接各个平台的中台系统。</div>
<% } %>
<% if(cName === 'B305') { %>
    <div></div>
<% } %>
