<div class="flex-column flex-items-center not-for-print">
    <div class="resume-item__title"><%= item.title %></div>
    <div class="resume-item__desc"><%= item.desc %></div>
</div>
<div class="flex-row flex-items-end not-for-pc not-for-mb">
    <div class="resume-item__title"><%= item.title %></div>
    <div class="resume-item__desc ml20"><%= item.desc %></div>
</div>
