<div class="flex-column flex-items-center not-for-print">
    <div class="resume__item-title"><%= item.title %></div>
    <div class="resume__item-desc"><%= item.desc %></div>
</div>
<div class="flex-row flex-items-end only-for-print">
    <div class="resume__item-title"><%= item.title %></div>
    <div class="resume__item-desc ml20"><%= item.desc %></div>
</div>
